body {
  font-family: Ubuntu, Helvetica;
  transition-duration: 0.8s;
  background-color: #eee;
  color: #111;
  font-size: 1em;
  text-align: justify;
}
h3 {
  font-style: italic;
  text-align: center;
}
#main {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}
#themeFrame {
  margin: 60px 0px;
}
.themeImage {
  width: 100%;
  cursor: pointer;
  transition-duration: 1s;
}
.themeImage:hover {
  opacity: 0.8 !important;
}
.hov {
  transition-duration: 1s;
}
.hov:hover {
  opacity: 0.5;
}
.portrait {
  width: 100%;
}
.dropdown-content {
  padding: 50px 0px;
}
.content {
  padding: 10px 0px 10px 10px;
}
.content-theme {
  transition-duration: 1.5s;
}
#music {
  border-style: solid;
  border-width: 0px 4px 0px 10px;
  border-color: #73543d;
}
#dance {
  border-style: solid;
  border-width: 0px 4px 0px 10px;
  border-color: #3d5c73
}
#develop {
  border-style: solid;
  border-width: 0px 4px 0px 10px;
  border-color: #543d73
}
#broadcast {
  border-style: solid;
  border-width: 0px 4px 0px 10px;
  border-color: #5c733d
}
#contact {
  margin: 0px 4px 0px 10px;
  padding: 10px;
  background-color: #eee !important;
  color: #111 !important;
}
iframe {
  width: 100%;
}
a, a:visited {
  color: #aaa;
}
a:hover, a:active {
  color: #ddd;
  text-decoration: none;
}
.icon {
  display: inline-block;
  text-align: center;
}
.icon i {
  font-size: 400%;
}
.band {
  margin: 30px 0px;
  background-color: #785942;
}
.band .col-sm-4 {
  padding: 0px;
}
.band .col-sm-8 {
  padding-left: 20px;
  padding-top: 10px;
}
.caption {
  padding: 20px 0px 1px 0px;
}
.caption p {
  font-style: italic;
}
.project {
  background-color: #594279;
  margin-bottom: 30px;
}
footer {
  text-align: center;
  padding: 30px 0px;
  font-size: 90%;
  background-color: #fff !important;
  color: #000 !important;
}
